# Numeric Type:

In [1]:
x = float(input ("Enter N1:"))
y = float(input ("Enter N2:"))
z = float(input ("Enter N3:"))
add = x+y
sub = x-z
div = y/z
print("Result1:",add)
print("Result2:",sub)
#print("Result3:",div)
a = add
b = sub
c = complex(a,b)
print(c)

Enter N1:5
Enter N2:9
Enter N3:8
Result1: 14.0
Result2: -3.0
(14-3j)

# How to print which data type it is:

In [2]:
a = 5
print(a, "is of type", type(a))
a = 2.0
print(a, "is of type", type(a))
a = 1+2j
print(a, "is complex number?", isinstance(1+2j,complex))
print(a, "is of type", type(a))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True
(1+2j) is of type <class 'complex'>

# List:

In [ ]:
lst = [23,25,24,26,27,28,29]
print (lst)
lst.sort() #arrange list in sequence wise
print(lst)
print(lst.count(25)) #how many 25 in have in list
lst.remove(23)
print(lst)
lst.reverse()
print(lst)
print(max(lst))
print(min(lst))
language = ['c','c++','python','java','js']
print(language)
print(language[-1])
print('c++' in language)
print('js' not in language)
print(language + ['andriod','os','django','css','html']) # add more in list

* append()	= adds an element to the end of the list
* extend()	= adds all elements of a list to another list
* insert() 	= inserts an item at the defined index
* remove() 	= removes an item from the list
* pop() 		= returns and removes an element at the given index
* clear() 	= removes all items from the list
* index() 	= returns the index of the first matched item
* count() 	= returns the count of the number of items passed as an argument
* sort() 		= sort items in a list in ascending order
* reverse() 	= reverse the order of items in the list
* copy() 		= returns a shallow copy of the list

# Range:

In [3]:
num = list(range(10))
print(num)
num1 = list(range(5,11))
print(num1)
even = list(range(2,11,2))
print(even)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]

# Tuple:

In [4]:
tup = (23,24,25,26)
print(tup)
print(tup[2])

#tup[2] = 28 #(it not work cz tuple is immutable)
alp = ('a','b','c','b','a','c',)
a = alp.count('a')
b = alp.count('b')
c = alp.count('c')
d = alp.count('d')
print("Total number of a , b , c , d --->",a,",",b,",",c,",",d)

(23, 24, 25, 26)
25
Total number of a , b , c , d ---> 2 , 2 , 2 , 0

# Set:

In [5]:
s = {34,24,21,37,45,1,2,3,4,5,8,7,6,6}
print (s,'\n')
#print(s[3])
print(max(s))

{1, 34, 3, 2, 37, 4, 5, 8, 7, 6, 45, 21, 24}

45

# Dictionary(dict):

In [6]:
x = {'n1':20,'n2':30,'n3':40}
print(x.get('n1'))
print(x['n2'])
print(x['n3'])
z = {'name':{'Student1':'Shakif','Student2':'Rakib','Student3':'Anas'}}
print("Name of Student 3:",z ['name']['Student3'])

20
30
40
Name of Student 3: Anas

# Boolean

In [7]:
a = 4
b = 5
c = a+b
var = c < 4
print(var)
d,e = 7,8
compa = d < 10 and e > 10
print(compa)
compa = d < 10 or e > 10
print(compa)

False
False
True

# in inteager format:
## True=1 ,False=0

In [8]:
a=2
b=3
print(int(a>b))
print(int(a<b))

0
1

# Binary Format:

In [9]:
a = bin(25)
print(a)
b = oct(35)
print(b)
print(0o43)
c = hex(456)
print(c)
print(0xf)
d = 10<<2 #(left shift method)
print(d)
print(0b101000)
e = 10>>2 #(right shift method)
print(e)

0b11001
0o43
35
0x1c8
15
40
40
2